<h2>PickupFantasy Testbed API</h2>
<p>
  The time is now: <%= Time.now %>
  <br>
  <hr>

  <h4>Application API Tables</h4>

  <a href="/users">Users</a> - 
  <a href="/users.json">JSON Format</a>
  <br>
  <a href="/leagues">Leagues</a> - 
  <a href="/leagues.json">JSON Format</a>
  <br>
  <a href="/rosters">Rosters</a> - 
  <a href="/rosters.json">JSON Format</a>
  <br>
  <a href="/gamesofweeks">Games of the Week</a> - 
  <a href="/gamesofweeks.json">JSON Format</a>
  <br>
  <a href="/weekplayerdata">Week Player Data</a> - 
  <a href="/weekplayerdata.json">JSON Format</a>
  <br>
  <a href="/seasonplayerdata">Season Player Data</a> - 
  <a href="/seasonplayerdata.json">JSON Format</a>
  <br>
  <br>
  <hr>
  
  <h4>Testing API Tables</h4>
  
  <a href="/test_calls">Test Calls</a> - 
  <a href="/test_calls.json">JSON Format</a>
  <br>
  <a href="/test_meta">Test Meta</a> - 
  <a href="/test_meta.json">JSON Format</a>
  <br>
  <a href="/test_objects">Test Objects</a> - 
  <a href="/test_objects.json">JSON Format</a>
  <br>
  <a href="/test_teams">Test Teams</a> - 
  <a href="/test_teams.json">JSON Format</a>
  <br>
  <a href="/test_team_stats">Test Team Stats</a> - 
  <a href="/test_team_stats.json">JSON Format</a>
  <br>
  <a href="/test_plays">Test Plays</a> - 
  <a href="/test_plays.json">JSON Format</a>
  <br>
  <a href="/test_play_stats">Test Play Stats</a> - 
  <a href="/test_play_stats.json">JSON Format</a>
  <br>
  <a href="/test_scoring_plays">Test Scoring Plays</a> - 
  <a href-"/test_scoring_plays.json">JSON Format</a>
  <br>
  <a href="/test_actives">Test Actives</a> - 
  <a href="/test_actives.json">JSON Format</a>
  <br>
  <a href="/test_seasons">Test Seasons</a> - 
  <a href="/test_seasons.json">JSON Format</a>
  <br>
  <a href="/test_line_scores">Test Line Scores</a> - 
  <a href="/test_line_scores.json">JSON Format</a>
  <br>
</p>